name: Check File Readability

on:
  push:
    branches:
      - master

jobs:
  check_files:
    runs-on: ubuntu-latest

    steps:
      - name: Check Out Code
        uses: actions/checkout@v2

      - name: Check File Readability
        run: |
          for file in $(git diff --name-only ${{ github.event.before }} ${{ github.sha }}); do
            if [ -r "$file" ]; then
              echo "File '$file' is readable. Merging is allowed."
            else
              echo "File '$file' is not readable. Merging is not allowed."
              exit 1
            fi
          done
